<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="" />     <!-- Add your connection string from the Azure Blob Storage -->
    <add key="readQueueName1" value="printer01queue"/> <!-- the name of the queue. If not exists it will be created -->
    <add key ="readDriverClassName1" value="WindowsPrinterService.ReadDriverBlobStorageQueue"/> <!-- ClassName that implements the queue reader. ReadDriverBlobStorageQueue is default -->
    <add key="printerDriverClassName1" value="WindowsPrinterService.SharedNetworkPrinterPrintDriver"/> <!-- ClassName that implements the printer driver. ShareNetworkPrinterPrintDriver is default  -->
    <add key="printerNetworkAddress1" value=""/> <!-- PrinterNetworkAddress as \\192.168.0.240\printername -->
    <add key="readQueueName2" value="printer02queue"/>
    <add key ="readDriverClassName2" value="WindowsPrinterService.ReadDriverBlobStorageQueue"/>
    <add key="printerDriverClassName2" value="WindowsPrinterService.SharedNetworkPrinterPrintDriver"/>
    <add key="printerNetworkAddress2" value=""/>
    <!-- you can add as many queues as you want, just follow the pattern -->
  </appSettings>
</configuration>